html {
  color: rgb(40,45,53);
  border-color: rgb(40,45,53);
}
a {
  border: 1px solid;
  border-color: rgb(40,45,53);
  font-weight: bold;
  color: rgb(40,45,53);
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: rgb(224,224,224);
}
.btn-sm {
  padding: .25em .5em .25em .5em;
}
.btn-lg {
  padding: .5em 1em .5em 1em;
}
#stats-pane {
  border: 1px solid;
  text-align: center;
}
.disabled {
  color: rgb(224,224,224) !important;
  border-color: rgb(224,224,224) !important;
}
ul.date-pane {
  list-style-type: none;
}
ul.date-pane li {
  display: inline-block;
  margin-right: 1em;
  padding: .5em 1em .5em 1em;
  text-align: center;
}
.year {
  border: 1px solid;
}
.month {
  border: 1px solid;
  width: 3em;
}
#competitor-pane {
  border: 1px solid;
  min-height: 5em;
  text-align: center;
}
.competitors {
  display: inline-block;
}
.competitor {
  display: inline-block;
  text-align: center;
  margin: 1em;
}
.competitor div {
  margin: .5em 0 .5em 0;
}
.competitor a {
  display: inline-block;
  margin: .5em 0 .5em 0;
}
.line-break {
  border-bottom: 1px solid;
  margin: 1em 0 1em 0;
  min-height: 1px;
  width: 100%;
}