html {
  color: rgb(40,45,53);
  border-color: rgb(40,45,53);
}
a {
  border: 1px solid;
  border-color: rgb(40,45,53);
  font-weight: bold;
  color: rgb(40,45,53);
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: rgb(224,224,224);
}
.btn-sm {
  padding: .25em .5em .25em .5em;
}
.btn-lg {
  padding: .5em 1em .5em 1em;
}
#stats-pane {
  border: 1px solid;
  text-align: center;
}
.disabled {
  color: rgb(224,224,224) !important;
  border-color: rgb(224,224,224) !important;
}
ul.date-pane {
  list-style-type: none;
}
ul.date-pane li {
  border: 1px solid;
  display: inline;
  margin-right: 1em;
  padding: .5em 1em .5em 1em;
}